@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Mulish:wght@200;400&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #0d4367;
}

::-webkit-scrollbar-thumb:hover {
  background: #0a263a;
}


:root {
  /* colors */
  --colorPrimary: #6200EE;
  --colorSecondary: #9654F4;

  /* background */
  --backgroundPrimary: #FEFEFE;
 
  --padding: 5px 130px;
 
}


h1 {
  color: var(--foundation-white-white-50, #FEFEFE);
font-family: Mulish;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;

}

h2 {
  color: var(--foundation-grey-grey-900, #151515);
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
h3{
  color: #FFF;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 120%;
letter-spacing: 0.576px;
}
h5{
  color: var(--foundation-grey-grey-900, #151515);
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.textCard{
  color: var(#333);
font-family: Mulish;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
/* span{
  color: #6200EE;
} */

.contents {
  color: #202020;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}



.text {
  color: #000;
  font-family: Myanmar MN;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
}

.subTitle {
  color: #000;
  font-family: Myanmar MN;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.btn{
  background: transparent;
  border:none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}
.til{
  width: 30px;
  height:20px;
}

body{
  background-image: url(./assets/img/-hcZ_7-TG7c.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.white-text{
  color: white;
}
.ymaps-2-1-79-gotoymaps__text{
  display: none !important;
}
.ymaps-2-1-79-gotoymaps__container{
  display: none !important;
} 
.ymaps-2-1-79-copyright__wrap{
  display: none !important;
}
.btnGenerate{
  width: 200px;
  height: 50px;
  border: none;
  background-color: #0d4367;
  border-radius: 10px;
  padding: 10px;
  color: white;
  cursor: pointer;
  margin: 30px 0;
  position: absolute;
  top: 60px;
 
}
.ymaps-2-1-79-searchbox__input-cell{
  display: none !important;
}
.ymaps-2-1-79-search {
  display: none !important;
}


.cardMonitoring{
  display: block;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 20px 0px rgba(60, 60, 60, 0.08);
  width: 50%;
  height: 170px;
  padding: 30px;
  margin: 0 10px;
  cursor: pointer;
}
.wrap{
  display: flex;
}
.eco{
  text-align: justify;
  font-size: 18px;
}